################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BooksStore/App_Data/BooksStore.Models.TestBD.mdf
