@model BooksStore.Models.Book

<h3>Deleting</h3>
<div>
    <p>Id.: @Html.DisplayFor(m => m.Id)</p>
    <p>Name: @Html.DisplayFor(m => m.Name)</p>
    <p>Price: @Html.DisplayFor(m => m.Price)</p>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <input type="submit" value="Удалить" />  
    }
</div>
