@model IEnumerable<BooksStore.Models.Item>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>List of books</h2>
    <form method="post" action="/Working/Drop">
        <p>
            @Html.DropDownList("DropTypes", new SelectList(ViewBag.AllItems))
            <button type="submit" class="btn btn-info" value="Отправить">Отправить</button>
        </p>
    </form>

       
    <form method="post" action="/Working/CreateItem">
        
        <p>
        @Html.DropDownList("DropCreate", new SelectList(ViewBag.AllCreates))
        <button type="submit" class="btn btn-info" value="Отправить">Добавить</button>
    
    </form>

    
    


