

    @using BooksStore.Models

    @model IEnumerable<Book>

    @{

        Layout = "~/Views/Shared/_Layout.cshtml";

    }
    

            <div id="example">
                <h3>Распродажа книг</h3>
                <table id="grid">
                    <colgroup>
                        <col />
                        <col />
                        <col style="width:110px" />
                        <col style="width:120px" />
                        <col style="width:130px" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th data-field="Name">Name</th>
                            <th data-field="Author">Author</th>
                            <th data-field="Price">Price</th>
                            <th >Buy</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        
                        @foreach (var b in Model)

                        {

                            <tr>

                                <td><p>@b.Name</p></td>

                                <td><p>@b.Author</p></td>

                                <td><p>@b.Price</p></td>

                                <td><p><a href="/Home/Buy/@b.Id">Buy</a><a href="/Home/Delete/@b.Id">Delete</a></p></td>

                            </tr>

                        }
                    </tbody>
                </table>

                <script>
                    $(document).ready(function() {
                        $("#grid").kendoGrid({
                            height: 550,
                            sortable: true
                        });
                    });
                </script>
            </div>
            <form method="post" action="">
    <table>

        <tr>

            <td><p>Enter Name of Book</p></td>

            <td><input type="text" name="Name" /> </td>

        </tr>

        <tr>

            <td><p>Author name</p></td>

            <td>

                <input type="text" name="Author" />

            </td>

        </tr>

        <tr>

            <td><p>Price</p></td>

            <td>

                <input type="text" name="Price" />

            </td>

        </tr>

        <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>

    </table>
                </form>
    @*@section Footer {

            Все права защищены. BookStore. 2017.

        }*@
