@model BooksStore.Models.Book
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <p>Id: @Html.DisplayFor(m => m.Id)</p>
    <p>Name: @Html.DisplayFor(m => m.Name)</p>
    <p>Author:@Html.DisplayFor(m => m.Author)</p>
    <p>Price: @Html.DisplayFor(m => m.Price)</p>


</div>

